<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区</title>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <div class="header">
        <span class="name">社区</span>
        <span class="search">
            <i class="search-icon"></i>
            关键字
            <i class="message"></i>
        </span>
    </div>
    <div class="wraper">
        <div class="slider">
            <ul class="slider-con">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="slider-index">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div class="feture">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
        <div class="top">社区头条<span></span></div>
        <div class="page">
            <div class="creat-share">
                <ul>
                    <li>
                        <dl>
                            <dt><img src="" alt="发帖人照片"></dt>

                            <dd><%=name%></dd>
                            <dd>
                                <img src="" alt="该贴所配的图片">
                                <img src="" alt="该贴所配的图片">
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="send-share">
                <textarea name="" id="" cols="30" rows="10">
                    发表内容

                </textarea>
                <span class="add-img">+</span>
                <span class="add-img">+</span>
                <a href="#">发表</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="create">分享</div>
        <div class="friend">好友</div>
        <div class="home">个人中心</div>
    </div>
</body>
</html>